body{
  margin:0;
  padding:0;
  box-sizing: border-box;
   background: url("../src/images/arkaplan.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.topButton{
  display:flex;
  justify-content: flex-end;
 
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  height: 100vh;
  font-family: 'Gowun Dodum', sans-serif;
  letter-spacing: 1px;
  color:#52118e;
}

.main h4{
  padding-bottom: 1em;
}